# Printer settings
label_type = "62"  # Optional: Override auto-detected label width. Common values: "62" for QL-[500-800] series, "102" for QL-1100

# API keys and endpoints
cat_api_key = "ask me"  # Get your free API key from https://thecatapi.com/
txt2img_url = "http://localhost:7860"  # URL for Stable Diffusion API endpoint

# Comfy AI authentication
comfy_user = ""  # Username for Comfy AI API basic auth
comfy_pass = ""  # Password for Comfy AI API basic auth

# UI customization
title = "STICKER FACTORY"  # Custom title for the app
history_limit = 15  # Number of images to show in history (default: 15)
items_per_page = 5  # Number of items to show per page in gallery (default: 5)

# Queue view 
# it shows the queue status in the sidebar
queueview = false
